input[type=text], select, textarea{
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  }
  h1{
      margin-left: 10px;
      color: #3399FF;
  }
  hr{
      width:50%;
      margin-left: 10px;
  }
  .btn {
    background-color:#3399FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 95%;
  }